/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */

body {
	text-align: center;
}

hr {
	width:650px;
	border-top: 1px dashed grey;
}

h1 {
	font-size: 66px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	padding: 40px;
}
h2 {
	font-size: 42px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	padding: 40px;
}

.square {
	width: 140px;
	height: 140px;
	background-color: #B2FFFF;
	margin-left: 700px;
	border: 4px solid black;
	box-shadow: inset 0 0 0 10px #89CFF0 , 0 0 0 10px #FA8072;
}

.circle1 {
	height: 16px;
    width: 16px;
    background-color: #B2FFFF;
    border-radius: 50%;
	margin-left: 580px;
	margin-top: 40px;
}

.circle2 {
	height: 16px;
    width: 16px;
    background-color: #89CFF0;
    border-radius: 50%;
	margin-left: 680px;
	margin-top: -15px;
}

.circle3 {
	height: 16px;
    width: 16px;
    background-color: black;
    border-radius: 50%;
	margin-left: 780px;
	margin-top: -15px;
}

.circle4 {
	height: 16px;
    width: 16px;
    background-color: #FA8072;
    border-radius: 50%;
	margin-left: 870px;
	margin-top: -15px;
}

.p1 {
	margin-left: 20px;
}

.p2 {
	margin-left: 20px;
}

.p3 {
	margin-left: 20px;
}

.p4 {
	margin-left: 20px;
}

.hr2 {
	margin-top: 40px;
}

.p5 {
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 700;
	margin-top: -10px;
}

.bigrec1 {
	width: 600px;
	border: 1px solid grey;
	height: 120px;
	margin-left: 450px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.rec1 {
	width: 180px;
	height: 100px;
	background-color: #D0D0D0;
	border: 10px solid white;
}

.rec2 {
	width: 180px;
	height: 100px;
	background-color: #D0D0D0;
	border: 10px solid white;
	margin-left: 199px;
	margin-top: -119px;
}

.rec3 {
	width: 180px;
	height: 100px;
	background-color: #D0D0D0;
	border: 10px solid white;
	margin-left: 398px;
	margin-top: -119px;
}

.hr3 {
	margin-top: 40px;
}

.p6 {
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 700;
	margin-top: 40px;
}

.bigrec2 {
	width: 600px;
	border: 1px solid grey;
	height: 242px;
	margin-left: 450px;
	margin-top: 40px;
	margin-bottom: 40px;
	box-shadow: inset 0 0 0 10px white;
}

.rec4 {
	width: 180px;
	height: 100px;
	background-color: #D0D0D0;
	border: 1px solid black;
	margin-left: 10px;
	margin-top: 10px;
}

.rec5 {
	width: 180px;
	height: 100px;
	background-color: #D0D0D0;
	border: 1px solid black;
	margin-left: 10px;
	margin-top: 20px;
}

.rec6 {
	width: 180px;
	height: 100px;
	background-color: #D0D0D0;
	border: 1px solid black;
	margin-left: 210px;
	margin-top: -224px;
}

.hr4 {
	margin-top: 40px;
}

.bigrec3 {
	width: 600px;
	border: 1px solid grey;
	height: 120px;
	margin-left: 450px;
	margin-top: 40px;
	margin-bottom: 40px;
	box-shadow: inset 0 0 0 10px white;
}

.rec7 {
	width: 180px;
	height: 100px;
	background-color: #D0D0D0;
	border: 1px solid black;
	margin-left: 10px;
	margin-top: 10px;
}

.rec8 {
	width: 180px;
	height: 100px;
	background-color: #D0D0D0;
	border: 1px solid black;
	margin-left: 211px;
	margin-top: -102px;
}

.rec9 {
	width: 180px;
	height: 100px;
	background-color: #D0D0D0;
	border: 1px solid black;
	margin-left: 411px;
	margin-top: -102px;
	
}

.p7 {
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 700;
	margin-top: 40px;
}