/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Style */

h1 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    padding: 20px;
}

.rec1 {
    height: 70px;
    width: 100px;
    border: 4px solid black;
    background-color: #B21807;
    margin-left: 40px;
    
}

.rec2 {
    height: 70px;
    width: 100px;
    border: 4px double black;
    background-color: #B21807;
    margin-left: 40px;
	margin-top: 40px;
    
}

.rec3 {
    height: 70px;
    width: 100px;
    border: 4px dashed black;
    background-color: #B21807;
    margin-left: 170px;
	margin-top: -75px;
    
}


.rec4 {
    height: 70px;
    width: 100px;
    border: 4px dotted black;
    background-color: #B21807;
    margin-left: 40px;
	margin-top: 40px;
    
}


.rec5 {
    height: 70px;
    width: 100px;
    background-color: #B21807;
    margin-left: 170px;
	margin-top: -70px;
    
}

p {
    background-color: rgba(255, 0, 0, 0.856);
    width: 250px;
    /*margin-left: 40px;
    margin-top: 40px;*/
    color: white;
    padding: 10px;
    border-left: 20px solid green;
    border-bottom: 20px solid yellow ;
    border-top: 20px solid blue;
    border-right: 20px solid grey;
    box-shadow: 0 0 0 20px purple;
    
}

.text {
    padding: 30px;
}
